<table>
  <tr>
    <td>Email</td>
    <td>Sign in count</td>
    <td>Current Sign In At</td>
    <td>Last Sign In At</td>
    <td>Current Sign In IP</td>
    <td>Last Sign In IP</td>
    <td>Actions</td>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.email, user_path(user)) %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td>Edit|Delete</td>
      </tr>
  <% end %>
</table>