<div class="pull-right">
  <%= link_to 'Back', settings_path, class: 'btn btn-default' %>
  <%= link_to 'Add', new_user_path, class: 'btn btn-default' %>
</div>

<table class="table table-striped" >
  <thead>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th>Logins</th>
    <th>Current Login At</th>
    <th>Last Login At</th>
    <th>Current Login IP</th>
    <th>Last Login IP</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user.email, user_path(user)) %></td>
        <td><%= user.role %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= format_time(user.current_sign_in_at) %></td>
        <td><%= format_time(user.last_sign_in_at) %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>