<div class="pull-right">
  <%= link_to 'Back', users_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>
</div>

<p>
  Email <b><%= @user.email %></b> created on <%= @user.created_at.strftime('%d-%b-%Y') %>
</p>

<p>
  Sign in count <b><%= @user.sign_in_count %></b>
</p>

<p>
  <div>Current sign in details </div>
  <div>Sign in <b><%= format_time(@user.current_sign_in_at) %></b> from <b><%= @user.current_sign_in_ip %></b></div>
</p>

<p>
  <div>Last sign in details </div>
  <div>Last sign in <b><%= format_time(@user.last_sign_in_at) %></b> from <b><%= @user.last_sign_in_ip %></b> </div>
</p>

<p>
  <%= link_to 'Delete this user', user_path(@user), class: 'btn btn-default btn-danger', method: :delete, data: { confirm: 'Are you sure want to delete this user ?' } %>
</p>



